
body{ background-color:white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:#6F4E37;}
 
.footer-link{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding: 10px 0;
}

.navbar {
    background-color: white;
    padding: 10px 0;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font: 1em sans-serif;
    padding: 30px;
    justify-content: right;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 8px 12px;
    transition: background-color 0.3s ease0;
}

.nav-links a:hover {
    background-color: #ffb9c4;
    border-radius: 4px;
}
.column {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.paragraph{ background-color:#FFFFFF;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    color:#6F4E37;
    ;
}
.heading-1 {
    background-color:#FFFFFF;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:#6F4E37

}

